In [ ]:
# import pandas as pd

# df = pd.read_csv("pokemon_data.csv")

# df

In [ ]:
#print only columns name
# print(df.columns)

# print particular column
# print(df['Name']) 

#print selective columns
# print(df[['Name', 'Type 1', 'HP']])

#print rows from start upto the mark
# print(df.head(4))

#print rows from start upto the mark
# print(df.tail(4)) 

#print rows from anywhere of the file
# print(df.iloc[3:10])

#print particular cell
# print(df.iloc[2, 1]) 

#print rows with specific conditions
# df.loc[df['Type 1'] == 'Fire']

#print rows with multiple specific conditions
# df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'].notnull())]

# for complex qurying 
# df.loc[df['Name'].str.contains("Mega")]

# to iterate each row
# for index, row in df.iterrows(): 
#     print(index, row['Name'])

In [ ]:
# For sorting column
# df.sort_values(['Name', 'HP'], ascending = [1, 0])

# to reset the old index  
# df.reset_index(drop = True, inplace = True)

#for sum the rows values and add new column
# df['total'] = df.iloc[:,4:10].sum(axis = 1)



# to save the csv 
# df.to_csv('modified.xlx', index = False)

# df['Count'] = 1
# Group by command
# df.groupby(['Type 1', 'Type 2']).count()['Count']

In [ ]:
# data cleaning functions
# df.drop_duplicates()

# for droping a column
# df = df.drop(columns= ['total'])

In [ ]:
# import pandas as pd

# df = pd.read_csv('bios.csv')
# df.head()

In [ ]:
# Remove bullet from Used name column and also change the column name to "Name"

# df['Name'] = df['Used name'].str.replace('•', ' ')
# df.head()

In [ ]:
# make 2 columns of weight and height and seperate the value of measurment. the challenge is there might be a case in which only height or weight is given in that case we need to rethink and make the above approach better.
# not to run this 

# df[["Height_cm", "Weight_kg"]] = df["Measurements"].str.split('/', expand = True)
# df.head()

In [ ]:
# split testing on small data frame

# small_data = pd.DataFrame(['183 cm', '180 cm / 150 kg', '190 cm / 80 kg', '100 kg'], columns = ["Measurements"])
# small_data[["Height_cm", "Weight_kg"]] = small_data["Measurements"].str.split('/', expand = True)
# small_data['Weight_kg'].fillna(small_data['Height_cm'], inplace = True)
# small_data['Height_cm'] = pd.to_numeric(small_data['Height_cm'].str.strip(r" cm"), errors = 'coerce')
# small_data['Weight_kg'] = pd.to_numeric(small_data['Weight_kg'].str.strip(r" kg"), errors = 'coerce')
# small_data

In [ ]:
# Final spliting technique

df[["Height_cm", "Weight_kg"]] = df["Measurements"].str.split('/', expand = True)
df['Weight_kg'] = df['Weight_kg'].fillna(df['Height_cm'])
df['Height_cm'] = pd.to_numeric(df['Height_cm'].str.strip(r" cm"), errors = 'coerce')
df['Weight_kg'] = pd.to_numeric(df['Weight_kg'].str.strip(r" kg"), errors = 'coerce')
df.sort_values("Height_cm", ascending = False)

In [ ]:
# formate the born and died date
year_pattern = r"(\d{4})"

df['Born_Year'] = pd.to_numeric(df['Born'].str.extract(year_pattern)[0],  errors='coerce').astype('Int64')

df['Died_Year'] = pd.to_numeric(df['Died'].str.extract(year_pattern)[0],  errors='coerce').astype('Int64')
df.head()

In [ ]:
# extract born_city, born_region, born_country
location_pattern = r"in ([\w\s-]+), ([\w\s-]+) \((\w+)\)"

df[["Born_City", "Born_Region", "Born_Country"]] = df["Born"].str.extract(location_pattern, expand = True)
df.head()

In [32]:
# remove extra columns and save file

# columns_to_keep = ['athlete_id', 'Name', 'Born_Year', 'Born_City', 'Born_Region', 'Born_Country', 'NOC', 'Height_cm', 'Weight_kg', 'Died_Year']

# clean_data = df[columns_to_keep]
clean_data.to_csv('./clean-bios-data.csv', index = False)

In [5]:
# import pandas as pd
# df = pd.read_csv("./bios.csv")
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# clean_data = pd.read_csv("./clean-bios-data.csv")
clean_data.head()

,athlete_id,Name,Born_Year,Born_City,Born_Region,Born_Country,NOC,Height_cm,Weight_kg,Died_Year
0,1,Jean-François Blanchy,1886.0,Bordeaux,Gironde,FRA,France,NaN,NaN,1960.0
1,2,Arnaud Boetsch,1969.0,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898.0,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994.0
3,4,Jacques Brugnon,1895.0,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978.0
4,5,Albert Canet,1878.0,Wandsworth,England,GBR,France,NaN,NaN,1930.0